
@{
    ViewBag.Title = "Blog";
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
}

<div class="container">
    <div class="velaBlogWrap">
        <div id="shopify-section-vela-template-blog" class="shopify-section">
            <div class="row">
                <aside class="velaSidebar velaBlogSidebar col-xs-12 col-sm-4 col-md-3 col-xl-2">
                    <div class="blogSidebar">
                        <form class="formSearchPage formSearchBlogPage" action="https://velamary.myshopify.com/search" method="get">
                            <input type="hidden" name="view" value="blog" />
                            <input type="hidden" name="type" value="article" />
                            <input type="search" name="q" value="" placeholder="Search our blogs" class="formSearchPageInput form-control" />
                            <button type="submit" class="btn formSearchPageButton">
                                <i class="fa fa-search"></i>
                                <span class="searchPageButtonText">Search</span>
                            </button>
                        </form>
                    </div><div class="blogSidebar">
                        <h4 class="titleSidebar">Recent Articles</h4>
                        <div class="velaContent">
                            <ul class="listSidebarBlog list-unstyled">

                                <li>
                                    <div class="media">
                                        <div class="pull-left"><a href="news/koma-and-torus-are-two.html" title="Koma and Torus are two"><img class="img-responsive" src="../cdn/shop/articles/1_smalld414.jpg?v=1536925726" alt="Koma and Torus are two" /></a></div>
                                        <div class="media-body">
                                            <a class="titleBlogsidebar" href="news/koma-and-torus-are-two.html" title="Koma and Torus are two">
                                                Koma and Torus are two
                                            </a>
                                            <!-- <time datetime="2018-09-12">September 12, 2018</time> -->
                                            <a class="btnReadMore" href="news/koma-and-torus-are-two.html" title="Read More">Read More</a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="media">
                                        <div class="pull-left"><a href="news/anteposuerit-litterarum-formas-4.html" title="Anteposuerit litterarum formas."><img class="img-responsive" src="../cdn/shop/articles/2_small5f83.jpg?v=1536925741" alt="Anteposuerit litterarum formas." /></a></div>
                                        <div class="media-body">
                                            <a class="titleBlogsidebar" href="news/anteposuerit-litterarum-formas-4.html" title="Anteposuerit litterarum formas.">
                                                Anteposuerit litterarum formas.
                                            </a>
                                            <!-- <time datetime="2018-09-12">September 12, 2018</time> -->
                                            <a class="btnReadMore" href="news/anteposuerit-litterarum-formas-4.html" title="Read More">Read More</a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="media">
                                        <div class="pull-left"><a href="news/koma-and-torus-are-three-kitchen.html" title="Koma and Torus are three kitchen"><img class="img-responsive" src="../cdn/shop/articles/3_small673b.jpg?v=1536925753" alt="Koma and Torus are three kitchen" /></a></div>
                                        <div class="media-body">
                                            <a class="titleBlogsidebar" href="news/koma-and-torus-are-three-kitchen.html" title="Koma and Torus are three kitchen">
                                                Koma and Torus are three kitchen
                                            </a>
                                            <!-- <time datetime="2018-09-12">September 12, 2018</time> -->
                                            <a class="btnReadMore" href="news/koma-and-torus-are-three-kitchen.html" title="Read More">Read More</a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="media">
                                        <div class="pull-left"><a href="news/anteposuerit-litterarum-formas-3.html" title="Anteposuerit litterarum formas."><img class="img-responsive" src="../cdn/shop/articles/4_small6376.jpg?v=1536925766" alt="Anteposuerit litterarum formas." /></a></div>
                                        <div class="media-body">
                                            <a class="titleBlogsidebar" href="news/anteposuerit-litterarum-formas-3.html" title="Anteposuerit litterarum formas.">
                                                Anteposuerit litterarum formas.
                                            </a>
                                            <!-- <time datetime="2018-09-12">September 12, 2018</time> -->
                                            <a class="btnReadMore" href="news/anteposuerit-litterarum-formas-3.html" title="Read More">Read More</a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="media">
                                        <div class="pull-left"><a href="news/anteposuerit-litterarum-formas-2.html" title="Anteposuerit litterarum formas."><img class="img-responsive" src="../cdn/shop/articles/5_small0410.jpg?v=1536925779" alt="Anteposuerit litterarum formas." /></a></div>
                                        <div class="media-body">
                                            <a class="titleBlogsidebar" href="news/anteposuerit-litterarum-formas-2.html" title="Anteposuerit litterarum formas.">
                                                Anteposuerit litterarum formas.
                                            </a>
                                            <!-- <time datetime="2018-09-12">September 12, 2018</time> -->
                                            <a class="btnReadMore" href="news/anteposuerit-litterarum-formas-2.html" title="Read More">Read More</a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="media">
                                        <div class="pull-left"><a href="news/anteposuerit-litterarum-formas-1.html" title="Anteposuerit litterarum formas."><img class="img-responsive" src="../cdn/shop/articles/6_small3918.jpg?v=1536925806" alt="Anteposuerit litterarum formas." /></a></div>
                                        <div class="media-body">
                                            <a class="titleBlogsidebar" href="news/anteposuerit-litterarum-formas-1.html" title="Anteposuerit litterarum formas.">
                                                Anteposuerit litterarum formas.
                                            </a>
                                            <!-- <time datetime="2018-09-12">September 12, 2018</time> -->
                                            <a class="btnReadMore" href="news/anteposuerit-litterarum-formas-1.html" title="Read More">Read More</a>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div><div class="blogSidebar">
                        <h4 class="titleSidebar">Articles Tags</h4>
                        <div class="velaContent">
                            <ul class="blogTagsList list-inline">

                                <li><a href="news/tagged/electronic.html" title="Show articles tagged Electronic">Electronic</a></li>
                                <li><a href="news/tagged/fashion.html" title="Show articles tagged Fashion">Fashion</a></li>
                                <li><a href="news/tagged/funiture.html" title="Show articles tagged Funiture">Funiture</a></li>
                                <li><a href="news/tagged/kitchen.html" title="Show articles tagged kitchen">kitchen</a></li>
                                <li><a href="news/tagged/shoes.html" title="Show articles tagged shoes">shoes</a></li>
                            </ul>
                        </div>
                    </div><div class="blogSidebar blogBannerSidebar hidden-xs hidden-sm">
                        <div class="effectOne"><a href="../collections/hot-deals.html" title="velaMary"><img class="img-responsive" alt="velaMary" src="http://placehold.it/270x" /></a></div>
                    </div>
                </aside><div class="col-xs-12 col-sm-8 col-md-9 col-xl-10">
                    <div class="blogContainer
            blogContainerSidebar
            blogContainerSidebarLeft">
                        <h1 class="velaBlogTitle">News</h1><div class="blogListArticle blogListTemplate">

                            <div class="rowFlexMargin rowFlex">

                                <div class="col-xs-12">
                                    <div class="blogArticle blogArticleListing">
                                        <div class="rowFlexMargin rowFlex">

                                            <div class="articleImage col-xs-12 col-sm-12 col-md-4">
                                                <a href="news/koma-and-torus-are-two.html">
                                                    <img class="img-responsive" src="../cdn/shop/articles/1d414.jpg?v=1536925726" alt="Koma and Torus are two" />
                                                </a>
                                            </div>

                                            <div class="articleContent col-xs-12 col-sm-12 col-md-8">
                                                <h3 class="articleTitle">
                                                    <a href="news/koma-and-torus-are-two.html">Koma and Torus are two</a>
                                                </h3>
                                                <div class="articleMeta">
                                                    <span class="articlePublish"><i class="fa fa-calendar"></i> 12 September, 2018</span>
                                                    <span class="articleAuthor"><i class="fa fa-user"></i> velaMary Admin</span><span class="articleCountComment"> <span class="fa fa-comments-o"></span> 0</span>
                                                </div>
                                                <div class="articleDesc">

                                                    Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. Minimalist approach, bright colors, stainless steel and matte plastic, abstract shapes and curved lines are the defining features of these products designed to be extremely functional, user-friendly...

                                                </div>
                                                <div class="articleMore">
                                                    <a class="btn btnVelaTwo" href="news/koma-and-torus-are-two.html">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="blogArticle blogArticleListing">
                                        <div class="rowFlexMargin rowFlex">

                                            <div class="articleImage col-xs-12 col-sm-12 col-md-4">
                                                <a href="news/anteposuerit-litterarum-formas-4.html">
                                                    <img class="img-responsive" src="../cdn/shop/articles/25f83.jpg?v=1536925741" alt="Anteposuerit litterarum formas." />
                                                </a>
                                            </div>

                                            <div class="articleContent col-xs-12 col-sm-12 col-md-8">
                                                <h3 class="articleTitle">
                                                    <a href="news/anteposuerit-litterarum-formas-4.html">Anteposuerit litterarum formas.</a>
                                                </h3>
                                                <div class="articleMeta">
                                                    <span class="articlePublish"><i class="fa fa-calendar"></i> 12 September, 2018</span>
                                                    <span class="articleAuthor"><i class="fa fa-user"></i> velaMary Admin</span><span class="articleCountComment"> <span class="fa fa-comments-o"></span> 0</span>
                                                </div>
                                                <div class="articleDesc">

                                                    Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. Minimalist approach, bright colors, stainless steel and matte plastic, abstract shapes and curved lines are the defining features of these products designed to be extremely functional, user-friendly...

                                                </div>
                                                <div class="articleMore">
                                                    <a class="btn btnVelaTwo" href="news/anteposuerit-litterarum-formas-4.html">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="blogArticle blogArticleListing">
                                        <div class="rowFlexMargin rowFlex">

                                            <div class="articleImage col-xs-12 col-sm-12 col-md-4">
                                                <a href="news/koma-and-torus-are-three-kitchen.html">
                                                    <img class="img-responsive" src="../cdn/shop/articles/3673b.jpg?v=1536925753" alt="Koma and Torus are three kitchen" />
                                                </a>
                                            </div>

                                            <div class="articleContent col-xs-12 col-sm-12 col-md-8">
                                                <h3 class="articleTitle">
                                                    <a href="news/koma-and-torus-are-three-kitchen.html">Koma and Torus are three kitchen</a>
                                                </h3>
                                                <div class="articleMeta">
                                                    <span class="articlePublish"><i class="fa fa-calendar"></i> 12 September, 2018</span>
                                                    <span class="articleAuthor"><i class="fa fa-user"></i> velaMary Admin</span><span class="articleCountComment"> <span class="fa fa-comments-o"></span> 0</span>
                                                </div>
                                                <div class="articleDesc">

                                                    Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. Minimalist approach, bright colors, stainless steel and matte plastic, abstract shapes and curved lines are the defining features of these products designed to be extremely functional, user-friendly...

                                                </div>
                                                <div class="articleMore">
                                                    <a class="btn btnVelaTwo" href="news/koma-and-torus-are-three-kitchen.html">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="blogArticle blogArticleListing">
                                        <div class="rowFlexMargin rowFlex">

                                            <div class="articleImage col-xs-12 col-sm-12 col-md-4">
                                                <a href="news/anteposuerit-litterarum-formas-3.html">
                                                    <img class="img-responsive" src="../cdn/shop/articles/46376.jpg?v=1536925766" alt="Anteposuerit litterarum formas." />
                                                </a>
                                            </div>

                                            <div class="articleContent col-xs-12 col-sm-12 col-md-8">
                                                <h3 class="articleTitle">
                                                    <a href="news/anteposuerit-litterarum-formas-3.html">Anteposuerit litterarum formas.</a>
                                                </h3>
                                                <div class="articleMeta">
                                                    <span class="articlePublish"><i class="fa fa-calendar"></i> 12 September, 2018</span>
                                                    <span class="articleAuthor"><i class="fa fa-user"></i> velaMary Admin</span><span class="articleCountComment"> <span class="fa fa-comments-o"></span> 0</span>
                                                </div>
                                                <div class="articleDesc">

                                                    Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. Minimalist approach, bright colors, stainless steel and matte plastic, abstract shapes and curved lines are the defining features of these products designed to be extremely functional, user-friendly...

                                                </div>
                                                <div class="articleMore">
                                                    <a class="btn btnVelaTwo" href="news/anteposuerit-litterarum-formas-3.html">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div><div class="velaPaginationWrap clearfix">
                                <nav class="velaPagination  pull-left">
                                    <ul class="pagination">

                                        <li class="disabled">
                                            <span><i class="fa fa-angle-double-left"></i><!-- <span>Prev</span> --></span>
                                        </li>




                                        <li class="active"><span>1</span></li>




                                        <li>
                                            <a href="news4658.html?page=2" title="">2</a>
                                        </li>



                                        <li class="pagiNext">
                                            <a href="news4658.html?page=2" title="Next">
                                                <!-- <span>Next</span> --><i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </nav>




                                <div class="itemPaginate pull-right">Showing 1-4 of 7 Results</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>