
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
}
<!-- BEGIN content_for_index -->
<div id="shopify-section-1536638636412" class="shopify-section velaFramework">
    <div class="banner-slideShow">
        <div class="container">
            <div class="velaSlideshow velaBlock">
                <div data-section-id="1536638636412" data-section-type="velaSlideshowSection">
                    <div class="velaSlideshowWrapper">
                        <div id="velaSlideshows1536638636412" class="vela--slideshow velaSliderLoading"
                             data-autoplay="true" data-speed="8000" data-navigation="true"
                             data-pagination="true">

                            <div class="velassSlide velassSlide1536638636412-0">


                                <div class="velassImage"
                                     data-image="cdn/shop/files/slide2d29a.jpg?v=1613548355">

                                    <img class="img-responsive" alt="velaMary"
                                         src="~/Assets/Client/cdn/shop/files/slide1_1840x700d29a.jpg" />

                                </div>

                                <div class="velassCaption caption-left">
                                    <div class="container">
                                        <div class="velassCaptionContent">
                                            <div class="velassCaptionInner"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="velassSlide velassSlide1536638636412-1">


                                <div class="velassImage"
                                     data-image="cdn/shop/files/slide2d29a.jpg?v=1613548355">

                                    <img class="img-responsive" alt="velaMary"
                                         src="~/Assets/Client/cdn/shop/files/slide2_1840x700d29a.jpg?v=1613548355" />

                                </div>

                                <div class="velassCaption caption-center">
                                    <div class="container">
                                        <div class="velassCaptionContent">
                                            <div class="velassCaptionInner"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="velassSlide velassSlide1536743230454">


                                <div class="velassImage"
                                     data-image="~/Assets/Client/cdn/shop/files/slide3d29a.jpg?v=1613548355">

                                    <img class="img-responsive" alt="velaMary"
                                         src="~/Assets/Client/cdn/shop/files/slide3_1840x700d29a.jpg?v=1613548355" />

                                </div>

                                <div class="velassCaption caption-center">
                                    <div class="container">
                                        <div class="velassCaptionContent">
                                            <div class="velassCaptionInner"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="shopify-section-1536927061413" class="shopify-section velaFramework">
    <div class="velaCollectionInfo" style="background-color: rgba(0,0,0,0);

                                     ">
        <div class="container">
            <div class="velaContent flexRow velaFlexRow">


                <div class="owl-item col-xs-12 col-sm-6 col-md-3">
                    <div class="item">
                        <div class="collectionItem  velaBlock">
                            <div class="collectionImage">
                                <div class="collImage">
                                    <a href="collections/decor-art.html">

                                        <img class="img-responsive" alt="Decor Art"
                                             src="~/Assets/Client/cdn/shop/collections/175be3.jpg?v=1536769181" />

                                    </a>
                                    <div class="collectionGroup">
                                        <h4 class="collTitle">
                                            <a href="collections/decor-art.html"
                                               title="Decor Art"> Decor Art</a>
                                        </h4>
                                        <p class="colCount"> 3 items</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="owl-item col-xs-12 col-sm-6 col-md-3">
                    <div class="item">
                        <div class="collectionItem  velaBlock">
                            <div class="collectionImage">
                                <div class="collImage">
                                    <a href="collections/funiture.html">

                                        <img class="img-responsive" alt="Funiture"
                                             src="~/Assets/Client/cdn/shop/collections/183b02.jpg?v=1536769152" />

                                    </a>
                                    <div class="collectionGroup">
                                        <h4 class="collTitle">
                                            <a href="collections/funiture.html"
                                               title="Funiture"> Funiture</a>
                                        </h4>
                                        <p class="colCount"> 11 items</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
<div id="shopify-section-1536927147918" class="shopify-section velaFramework">
    <div class="productLoadMore velaBlock" style="background-color: rgba(0,0,0,0);

                                     ">
        <div class="container">
            <div class="velaProductsMore">

                <h3 class="velaTitle velaHomeTitle text-center clearfix">

                    <span class="title">Product Load More</span>


                </h3>

                <div class="velaContent">

                    <div class="producsLoadMore proList grid">
                        <div class="velaFlexRow flexRow">

                            <div class="owl-item col-xs-6 col-sm-6 col-md-3">
                                <div class="item">
                                    <div class="velaProBlock grid " data-price="190.00">
                                        <div class="velaProBlockInner">
                                            <div class="proHImage">
                                                <a class="proFeaturedImage"
                                                   href="products/sacrificial-chair-design-10.html">
                                                    <img class="img-responsive" alt="Wooden container Bowl"
                                                         src="~/Assets/Client/cdn/shop/products/10_a6e489a9-3abb-45eb-9136-899cbdc7c203_270x32068f1.jpg?v=1536247972" /><span class="hidden-sm hidden-xs">


                                                        <img class="img-responsive"
                                                             alt="Wooden container Bowl"
                                                             src="~/Assets/Client/cdn/shop/products/13_270x32068f1.jpg?v=1536247972">

                                                    </span>
                                                </a><span class="labelSale">Sale</span>
                                                <div class="velaSwatchCus">


                                                </div>
                                            </div>
                                            <div class="proContent">
                                                <h5 class="proName">
                                                    <a href="products/sacrificial-chair-design-10.html">
                                                        Wooden
                                                        container Bowl
                                                    </a>
                                                </h5>
                                                <div class="proReviews">
                                                    <span class="shopify-product-reviews-badge"
                                                          data-id="1512604663877"></span>
                                                </div>
                                                <div class="proPrice">
                                                    <div class="priceProduct priceSale">$190.00</div>
                                                    <div class="priceProduct priceCompare">$200.00</div>
                                                </div>
                                                <div class="proButton">
                                                    <form action="https://velamary.myshopify.com/cart/add"
                                                          method="post" enctype="multipart/form-data"
                                                          class="formAddToCart">
                                                        <input type="hidden" name="id"
                                                               value="13671006502981" /><button class="btn btnAddToCart btnProduct"
                                                                                                type="submit" value="Submit">
                                                            <span>Add to Cart</span>
                                                        </button>
                                                    </form>
                                                    <div class="productQuickView">
                                                        <a class="btn btnProduct btnProductQuickview"
                                                           href="#velaQuickView"
                                                           data-handle="sacrificial-chair-design-10"
                                                           title="Quickview">
                                                            <span>Quickview</span>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="owl-item col-xs-6 col-sm-6 col-md-3">
                                <div class="item">
                                    <div class="velaProBlock grid " data-price="160.00">
                                        <div class="velaProBlockInner">
                                            <div class="proHImage">
                                                <a class="proFeaturedImage"
                                                   href="products/sacrificial-chair-design-6.html">
                                                    <img class="img-responsive" alt="Wooden container Bowl"
                                                         src="~/Assets/Client/cdn/shop/products/8_270x320eeee.jpg?v=1536247963" />
                                                </a>
                                                <div class="velaSwatchCus">


                                                </div>
                                            </div>
                                            <div class="proContent">
                                                <h5 class="proName">
                                                    <a href="products/sacrificial-chair-design-6.html">
                                                        Wooden
                                                        container Bowl
                                                    </a>
                                                </h5>
                                                <div class="proReviews">
                                                    <span class="shopify-product-reviews-badge"
                                                          data-id="1512604205125"></span>
                                                </div>
                                                <div class="proPrice">
                                                    <div class="priceProduct priceSale">$160.00</div>
                                                </div>
                                                <div class="proButton">
                                                    <form action="https://velamary.myshopify.com/cart/add"
                                                          method="post" enctype="multipart/form-data"
                                                          class="formAddToCart">
                                                        <input type="hidden" name="id"
                                                               value="13671003193413" /><button class="btn btnAddToCart btnProduct"
                                                                                                type="submit" value="Submit">
                                                            <span>Add to Cart</span>
                                                        </button>
                                                    </form>
                                                    <div class="productQuickView">
                                                        <a class="btn btnProduct btnProductQuickview"
                                                           href="#velaQuickView"
                                                           data-handle="sacrificial-chair-design-6"
                                                           title="Quickview">
                                                            <span>Quickview</span>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="clearfix text-center">
                            <a class="btnLoadMore" href="index4658.html?page=2" title="load more">
                                load more
                            </a>
                        </div>
                    </div>
                    <div class="proLoadMoreBottom"></div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="shopify-section-1536928337760" class="shopify-section velaFramework">
    <div class="velaHomeBlogs" style="background-color: rgba(0,0,0,0);">
        <div class="container">
            <div class="velaHomeBlogsInner">
                <h3 class="velaTitle velaHomeTitle">
                    <span>Blogs on Homepage</span>
                </h3>
                <div class="velaContent">
                    <div class="velaOwlRow owlCarouselPlay">
                        <div class="owl-carousel" data-nav="true" data-loop="true" data-autoplay="false"
                             data-autoplaytimeout="10000" data-columnone="6" data-columntwo="3"
                             data-columnthree="2" data-columnfour="2" data-columnfive="1">

                            <div class="velaBlogItem">


                                <div class="blogPostImage">
                                    <a href="blogs/news/koma-and-torus-are-two.html"
                                       title="Koma and Torus are two">
                                        <img class="img-responsive"
                                             src="~/Assets/Client/cdn/shop/articles/1_480xd414.jpg?v=1536925726"
                                             alt="Koma and Torus are two" />
                                    </a>
                                </div>


                                <div class="blogPostContent">
                                    <h3 class="blogPostTitle">
                                        <a href="blogs/news/koma-and-torus-are-two.html"
                                           title="Koma and Torus are two">Koma and Torus are two</a>
                                    </h3>
                                    <div class="blogPostMeta">
                                        <span class="articlePublish">
                                            <i class="fa fa-calendar"></i> 12
                                            September, 2018
                                        </span>
                                        <span class="articleAuthor">
                                            <i class="fa fa-user"></i> by velaMary
                                            Admin
                                        </span>
                                    </div>
                                    <div class="blogPostShortdesc rte">

                                        <p>
                                            Diga, Koma and Torus are three kitchen utensils designed for
                                            Ommo, a new design-oriented brand introduced at the Ambiente
                                            show...
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="velaBlogItem">


                                <div class="blogPostImage">
                                    <a href="blogs/news/anteposuerit-litterarum-formas-4.html"
                                       title="Anteposuerit litterarum formas.">
                                        <img class="img-responsive"
                                             src="~/Assets/Client/cdn/shop/articles/2_480x5f83.jpg?v=1536925741"
                                             alt="Anteposuerit litterarum formas." />
                                    </a>
                                </div>


                                <div class="blogPostContent">
                                    <h3 class="blogPostTitle">
                                        <a href="blogs/news/anteposuerit-litterarum-formas-4.html"
                                           title="Anteposuerit litterarum formas.">
                                            Anteposuerit litterarum
                                            formas.
                                        </a>
                                    </h3>
                                    <div class="blogPostMeta">
                                        <span class="articlePublish">
                                            <i class="fa fa-calendar"></i> 12
                                            September, 2018
                                        </span>
                                        <span class="articleAuthor">
                                            <i class="fa fa-user"></i> by velaMary
                                            Admin
                                        </span>
                                    </div>
                                    <div class="blogPostShortdesc rte">

                                        <p>
                                            Diga, Koma and Torus are three kitchen utensils designed for
                                            Ommo, a new design-oriented brand introduced at the Ambiente
                                            show...
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="velaBlogItem">


                                <div class="blogPostImage">
                                    <a href="blogs/news/koma-and-torus-are-three-kitchen.html"
                                       title="Koma and Torus are three kitchen">
                                        <img class="img-responsive"
                                             src="~/Assets/Client/cdn/shop/articles/3_480x673b.jpg?v=1536925753"
                                             alt="Koma and Torus are three kitchen" />
                                    </a>
                                </div>


                                <div class="blogPostContent">
                                    <h3 class="blogPostTitle">
                                        <a href="blogs/news/koma-and-torus-are-three-kitchen.html"
                                           title="Koma and Torus are three kitchen">
                                            Koma and Torus are
                                            three kitchen
                                        </a>
                                    </h3>
                                    <div class="blogPostMeta">
                                        <span class="articlePublish">
                                            <i class="fa fa-calendar"></i> 12
                                            September, 2018
                                        </span>
                                        <span class="articleAuthor">
                                            <i class="fa fa-user"></i> by velaMary
                                            Admin
                                        </span>
                                    </div>
                                    <div class="blogPostShortdesc rte">

                                        <p>
                                            Diga, Koma and Torus are three kitchen utensils designed for
                                            Ommo, a new design-oriented brand introduced at the Ambiente
                                            show...
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="velaBlogItem">


                                <div class="blogPostImage">
                                    <a href="blogs/news/anteposuerit-litterarum-formas-3.html"
                                       title="Anteposuerit litterarum formas.">
                                        <img class="img-responsive"
                                             src="~/Assets/Client/cdn/shop/articles/4_480x6376.jpg?v=1536925766"
                                             alt="Anteposuerit litterarum formas." />
                                    </a>
                                </div>


                                <div class="blogPostContent">
                                    <h3 class="blogPostTitle">
                                        <a href="blogs/news/anteposuerit-litterarum-formas-3.html"
                                           title="Anteposuerit litterarum formas.">
                                            Anteposuerit litterarum
                                            formas.
                                        </a>
                                    </h3>
                                    <div class="blogPostMeta">
                                        <span class="articlePublish">
                                            <i class="fa fa-calendar"></i> 12
                                            September, 2018
                                        </span>
                                        <span class="articleAuthor">
                                            <i class="fa fa-user"></i> by velaMary
                                            Admin
                                        </span>
                                    </div>
                                    <div class="blogPostShortdesc rte">

                                        <p>
                                            Diga, Koma and Torus are three kitchen utensils designed for
                                            Ommo, a new design-oriented brand introduced at the Ambiente
                                            show...
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="velaBlogItem">


                                <div class="blogPostImage">
                                    <a href="blogs/news/anteposuerit-litterarum-formas-2.html"
                                       title="Anteposuerit litterarum formas.">
                                        <img class="img-responsive"
                                             src="~/Assets/Client/cdn/shop/articles/5_480x0410.jpg?v=1536925779"
                                             alt="Anteposuerit litterarum formas." />
                                    </a>
                                </div>


                                <div class="blogPostContent">
                                    <h3 class="blogPostTitle">
                                        <a href="blogs/news/anteposuerit-litterarum-formas-2.html"
                                           title="Anteposuerit litterarum formas.">
                                            Anteposuerit litterarum
                                            formas.
                                        </a>
                                    </h3>
                                    <div class="blogPostMeta">
                                        <span class="articlePublish">
                                            <i class="fa fa-calendar"></i> 12
                                            September, 2018
                                        </span>
                                        <span class="articleAuthor">
                                            <i class="fa fa-user"></i> by velaMary
                                            Admin
                                        </span>
                                    </div>
                                    <div class="blogPostShortdesc rte">

                                        <p>
                                            Diga, Koma and Torus are three kitchen utensils designed for
                                            Ommo, a new design-oriented brand introduced at the Ambiente
                                            show...
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="velaBlogItem">


                                <div class="blogPostImage">
                                    <a href="blogs/news/anteposuerit-litterarum-formas-1.html"
                                       title="Anteposuerit litterarum formas.">
                                        <img class="img-responsive"
                                             src="~/Assets/Client/cdn/shop/articles/6_480x3918.jpg?v=1536925806"
                                             alt="Anteposuerit litterarum formas." />
                                    </a>
                                </div>


                                <div class="blogPostContent">
                                    <h3 class="blogPostTitle">
                                        <a href="blogs/news/anteposuerit-litterarum-formas-1.html"
                                           title="Anteposuerit litterarum formas.">
                                            Anteposuerit litterarum
                                            formas.
                                        </a>
                                    </h3>
                                    <div class="blogPostMeta">
                                        <span class="articlePublish">
                                            <i class="fa fa-calendar"></i> 12
                                            September, 2018
                                        </span>
                                        <span class="articleAuthor">
                                            <i class="fa fa-user"></i> by velaMary
                                            Admin
                                        </span>
                                    </div>
                                    <div class="blogPostShortdesc rte">

                                        <p>
                                            Diga, Koma and Torus are three kitchen utensils designed for
                                            Ommo, a new design-oriented brand introduced at the Ambiente
                                            show...
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="velaBlogItem">


                                <div class="blogPostImage">
                                    <a href="blogs/news/anteposuerit-litterarum-formas.html"
                                       title="Anteposuerit litterarum formas.">
                                        <img class="img-responsive"
                                             src="~/Assets/Client/cdn/shop/articles/7_480xc8e8.jpg?v=1536925846"
                                             alt="Anteposuerit litterarum formas." />
                                    </a>
                                </div>


                                <div class="blogPostContent">
                                    <h3 class="blogPostTitle">
                                        <a href="blogs/news/anteposuerit-litterarum-formas.html"
                                           title="Anteposuerit litterarum formas.">
                                            Anteposuerit litterarum
                                            formas.
                                        </a>
                                    </h3>
                                    <div class="blogPostMeta">
                                        <span class="articlePublish">
                                            <i class="fa fa-calendar"></i> 12
                                            September, 2018
                                        </span>
                                        <span class="articleAuthor">
                                            <i class="fa fa-user"></i> by velaMary
                                            Admin
                                        </span>
                                    </div>
                                    <div class="blogPostShortdesc rte">

                                        <p>
                                            Diga, Koma and Torus are three kitchen utensils designed for
                                            Ommo, a new design-oriented brand introduced at the Ambiente
                                            show...
                                        </p>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="shopify-section-1536748725922" class="shopify-section velaFramework">
    <div class="velaLogoList velaBlock" style="background-color: rgba(0,0,0,0);
                                     ">
        @*<div class="container">
            <div class="velaLogoListInner">
                <div class="velaContent">
                    <div class="velaOwlRow owlCarouselPlay">
                        <div class="owl-carousel" data-nav="true" section.blocks.size data-loop="false"
                             data-autoplay="false" data-autoplaytimeout="10000" data-columnone="6"
                             data-columntwo="5" data-columnthree="4" data-columnfour="3" data-columnfive="2">

                            <div class="item">
                                <div class="logoImage">
                                    <a href="collections/best-sellte.html">
                                        <img class="img-responsive" alt="velaMary"
                                             src="cdn/shop/files/brand1b179.jpg?v=1613548370" />
                                    </a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="logoImage">
                                    <a href="collections/decor-art.html">
                                        <img class="img-responsive" alt="velaMary"
                                             src="cdn/shop/files/brand2b179.jpg?v=1613548370" />
                                    </a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="logoImage">
                                    <a href="collections/frontpage.html">
                                        <img class="img-responsive" alt="velaMary"
                                             src="cdn/shop/files/brand3b179.jpg?v=1613548370" />
                                    </a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="logoImage">
                                    <a href="collections/fashion.html">
                                        <img class="img-responsive" alt="velaMary"
                                             src="cdn/shop/files/brand4b179.jpg?v=1613548370" />
                                    </a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="logoImage">
                                    <img class="img-responsive" alt="velaMary"
                                         src="cdn/shop/files/brand5b179.jpg?v=1613548370" />
                                </div>
                            </div>

                            <div class="item">
                                <div class="logoImage">
                                    <img class="img-responsive" alt="velaMary"
                                         src="cdn/shop/files/brand6b179.jpg?v=1613548370" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>
 <!-- END content_for_index -->